/* line 43, ../sass/screen.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 54, ../sass/screen.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 62, ../sass/screen.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 71, ../sass/screen.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 79, ../sass/screen.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 87, ../sass/screen.scss */
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* line 97, ../sass/screen.scss */
html {
  line-height: 1;
  font-family: sans-serif;
  font-size: 10px;
  height: 100%;
}
/* line 103, ../sass/screen.scss */
html input[type="button"] {
  cursor: pointer;
}
/* line 106, ../sass/screen.scss */
html input[disabled] {
  cursor: default;
}

/* line 110, ../sass/screen.scss */
body {
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;
  overflow-x: hidden;
  font-family: Open Sans;
  background-color: #d2ccaa;
  height: 100%;
}
/* line 122, ../sass/screen.scss */
body.loading {
  overflow-y: hidden;
}

/* line 141, ../sass/screen.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../sass/screen.scss */
blockquote {
  quotes: none;
}
/* line 167, ../sass/screen.scss */
blockquote:before {
  content: "";
  content: none;
}
/* line 171, ../sass/screen.scss */
blockquote:after {
  content: "";
  content: none;
}

/* line 176, ../sass/screen.scss */
pre {
  overflow: auto;
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 182, ../sass/screen.scss */
a {
  background-color: transparent;
  text-decoration: none;
}
/* line 186, ../sass/screen.scss */
a img {
  border: none;
}
/* line 189, ../sass/screen.scss */
a:active {
  outline: 0;
}
/* line 192, ../sass/screen.scss */
a:hover {
  outline: 0;
  cursor: pointer;
}

/* line 212, ../sass/screen.scss */
code {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 220, ../sass/screen.scss */
dfn {
  font-style: italic;
}

/* line 227, ../sass/screen.scss */
img {
  border: 0;
  vertical-align: middle;
  width: 100%;
}

/* line 236, ../sass/screen.scss */
kbd {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 241, ../sass/screen.scss */
q {
  quotes: none;
}
/* line 244, ../sass/screen.scss */
q:before {
  content: "";
  content: none;
}
/* line 248, ../sass/screen.scss */
q:after {
  content: "";
  content: none;
}

/* line 256, ../sass/screen.scss */
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 261, ../sass/screen.scss */
small {
  font-size: 80%;
}

/* line 268, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 272, ../sass/screen.scss */
sub {
  bottom: -0.25em;
}

/* line 277, ../sass/screen.scss */
sup {
  top: -0.5em;
}

/* line 288, ../sass/screen.scss */
b {
  font-weight: bold;
}

/* line 310, ../sass/screen.scss */
ol {
  list-style: none;
}

/* line 314, ../sass/screen.scss */
ul {
  list-style: none;
}

/* line 321, ../sass/screen.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 333, ../sass/screen.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 338, ../sass/screen.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 359, ../sass/screen.scss */
th {
  padding: 0;
}

/* line 364, ../sass/screen.scss */
td {
  padding: 0;
}

/* line 369, ../sass/screen.scss */
article {
  display: block;
}

/* line 373, ../sass/screen.scss */
aside {
  display: block;
}

/* line 377, ../sass/screen.scss */
canvas {
  display: inline-block;
  vertical-align: baseline;
}

/* line 382, ../sass/screen.scss */
details {
  display: block;
}

/* line 389, ../sass/screen.scss */
figure {
  display: block;
  margin: 1em 40px;
  margin: 0;
}

/* line 395, ../sass/screen.scss */
figcaption {
  display: block;
}

/* line 399, ../sass/screen.scss */
footer {
  display: block;
  padding: 40px 0;
  background-color: #f0ece9;
}
/* line 404, ../sass/screen.scss */
footer p {
  margin-top: 20px;
  color: #424242;
}
/* line 409, ../sass/screen.scss */
footer ul li {
  display: inline-block;
  margin-left: 10px;
}
/* line 412, ../sass/screen.scss */
footer ul li a {
  text-transform: uppercase;
  transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #424242;
}
/* line 417, ../sass/screen.scss */
footer ul li a:hover {
  color: #bd754f;
}
/* line 421, ../sass/screen.scss */
footer ul li:first-child {
  margin-left: 0;
}
/* line 425, ../sass/screen.scss */
footer ul.social {
  margin-top: 20px;
}
/* line 427, ../sass/screen.scss */
footer ul.social li {
  display: inline-block;
  background-color: #000;
  border-radius: 4px;
}
/* line 431, ../sass/screen.scss */
footer ul.social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
/* line 437, ../sass/screen.scss */
footer ul.social li a i {
  font-size: 20px;
  color: #f0ece9;
}

/* line 446, ../sass/screen.scss */
header {
  display: block;
}

/* line 450, ../sass/screen.scss */
hgroup {
  display: block;
}

/* line 454, ../sass/screen.scss */
menu {
  display: block;
}

/* line 458, ../sass/screen.scss */
nav {
  display: block;
}
/* line 461, ../sass/screen.scss */
nav ul:hover {
  cursor: default;
}

/* line 471, ../sass/screen.scss */
section {
  display: block;
  padding: 60px 0;
}

/* line 476, ../sass/screen.scss */
summary {
  display: block;
}

/* line 483, ../sass/screen.scss */
mark {
  background: #ff0;
  color: #000000;
}

/* line 488, ../sass/screen.scss */
audio {
  display: inline-block;
  vertical-align: baseline;
}
/* line 492, ../sass/screen.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 497, ../sass/screen.scss */
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 502, ../sass/screen.scss */
main {
  display: block;
}

/* line 505, ../sass/screen.scss */
progress {
  display: inline-block;
  vertical-align: baseline;
}

/* line 509, ../sass/screen.scss */
[hidden] {
  display: none;
}

/* line 512, ../sass/screen.scss */
template {
  display: none;
}

/* line 515, ../sass/screen.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 518, ../sass/screen.scss */
hr {
  box-sizing: content-box;
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

/* line 527, ../sass/screen.scss */
button {
  overflow: visible;
  text-transform: none;
  cursor: pointer;
}
/* line 533, ../sass/screen.scss */
button:focus {
  outline: 0;
}

/* line 537, ../sass/screen.scss */
input {
  line-height: normal;
}

/* line 542, ../sass/screen.scss */
optgroup {
  font-weight: bold;
}

/* line 546, ../sass/screen.scss */
select {
  text-transform: none;
}

/* line 551, ../sass/screen.scss */
textarea {
  overflow: auto;
}

/* line 556, ../sass/screen.scss */
input[type="reset"] {
  cursor: pointer;
}

/* line 559, ../sass/screen.scss */
input[type="submit"] {
  cursor: pointer;
}

/* line 562, ../sass/screen.scss */
button[disabled] {
  cursor: default;
}

/* line 565, ../sass/screen.scss */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 569, ../sass/screen.scss */
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 573, ../sass/screen.scss */
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 578, ../sass/screen.scss */
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 583, ../sass/screen.scss */
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

/* line 586, ../sass/screen.scss */
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 589, ../sass/screen.scss */
input[type="search"] {
  box-sizing: content-box;
}

/* line 597, ../sass/screen.scss */
* {
  box-sizing: border-box;
}
/* line 600, ../sass/screen.scss */
*:before {
  box-sizing: border-box;
}
/* line 604, ../sass/screen.scss */
*:after {
  box-sizing: border-box;
}

/* line 609, ../sass/screen.scss */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 614, ../sass/screen.scss */
.img-rounded {
  border-radius: 6px;
}

/* line 618, ../sass/screen.scss */
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* line 631, ../sass/screen.scss */
.img-circle {
  border-radius: 50%;
}

/* line 635, ../sass/screen.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* line 653, ../sass/screen.scss */
[role="button"] {
  cursor: pointer;
}

/* line 656, ../sass/screen.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 661, ../sass/screen.scss */
.container:before {
  content: " ";
  display: table;
}
/* line 665, ../sass/screen.scss */
.container:after {
  content: " ";
  display: table;
  clear: both;
}

@media (min-width: 768px) {
  /* line 672, ../sass/screen.scss */
  .container {
    width: 750px;
  }

  /* line 675, ../sass/screen.scss */
  .col-sm-1 {
    float: left;
    width: 8.33333%;
  }

  /* line 679, ../sass/screen.scss */
  .col-sm-2 {
    float: left;
    width: 16.66667%;
  }

  /* line 683, ../sass/screen.scss */
  .col-sm-3 {
    float: left;
    width: 25%;
  }

  /* line 687, ../sass/screen.scss */
  .col-sm-4 {
    float: left;
    width: 33.33333%;
  }

  /* line 691, ../sass/screen.scss */
  .col-sm-5 {
    float: left;
    width: 41.66667%;
  }

  /* line 695, ../sass/screen.scss */
  .col-sm-6 {
    float: left;
    width: 50%;
  }

  /* line 699, ../sass/screen.scss */
  .col-sm-7 {
    float: left;
    width: 58.33333%;
  }

  /* line 703, ../sass/screen.scss */
  .col-sm-8 {
    float: left;
    width: 66.66667%;
  }

  /* line 707, ../sass/screen.scss */
  .col-sm-9 {
    float: left;
    width: 75%;
  }

  /* line 711, ../sass/screen.scss */
  .col-sm-10 {
    float: left;
    width: 83.33333%;
  }

  /* line 715, ../sass/screen.scss */
  .col-sm-11 {
    float: left;
    width: 91.66667%;
  }

  /* line 719, ../sass/screen.scss */
  .col-sm-12 {
    float: left;
    width: 100%;
  }

  /* line 723, ../sass/screen.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 726, ../sass/screen.scss */
  .col-sm-pull-1 {
    right: 8.33333%;
  }

  /* line 729, ../sass/screen.scss */
  .col-sm-pull-2 {
    right: 16.66667%;
  }

  /* line 732, ../sass/screen.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 735, ../sass/screen.scss */
  .col-sm-pull-4 {
    right: 33.33333%;
  }

  /* line 738, ../sass/screen.scss */
  .col-sm-pull-5 {
    right: 41.66667%;
  }

  /* line 741, ../sass/screen.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 744, ../sass/screen.scss */
  .col-sm-pull-7 {
    right: 58.33333%;
  }

  /* line 747, ../sass/screen.scss */
  .col-sm-pull-8 {
    right: 66.66667%;
  }

  /* line 750, ../sass/screen.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 753, ../sass/screen.scss */
  .col-sm-pull-10 {
    right: 83.33333%;
  }

  /* line 756, ../sass/screen.scss */
  .col-sm-pull-11 {
    right: 91.66667%;
  }

  /* line 759, ../sass/screen.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 762, ../sass/screen.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 765, ../sass/screen.scss */
  .col-sm-push-1 {
    left: 8.33333%;
  }

  /* line 768, ../sass/screen.scss */
  .col-sm-push-2 {
    left: 16.66667%;
  }

  /* line 771, ../sass/screen.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 774, ../sass/screen.scss */
  .col-sm-push-4 {
    left: 33.33333%;
  }

  /* line 777, ../sass/screen.scss */
  .col-sm-push-5 {
    left: 41.66667%;
  }

  /* line 780, ../sass/screen.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 783, ../sass/screen.scss */
  .col-sm-push-7 {
    left: 58.33333%;
  }

  /* line 786, ../sass/screen.scss */
  .col-sm-push-8 {
    left: 66.66667%;
  }

  /* line 789, ../sass/screen.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 792, ../sass/screen.scss */
  .col-sm-push-10 {
    left: 83.33333%;
  }

  /* line 795, ../sass/screen.scss */
  .col-sm-push-11 {
    left: 91.66667%;
  }

  /* line 798, ../sass/screen.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 801, ../sass/screen.scss */
  .col-sm-offset-0 {
    margin-left: 0;
  }

  /* line 804, ../sass/screen.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 807, ../sass/screen.scss */
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 810, ../sass/screen.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 813, ../sass/screen.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 816, ../sass/screen.scss */
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 819, ../sass/screen.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 822, ../sass/screen.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 825, ../sass/screen.scss */
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 828, ../sass/screen.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 831, ../sass/screen.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 834, ../sass/screen.scss */
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 837, ../sass/screen.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  /* line 842, ../sass/screen.scss */
  .container {
    width: 970px;
  }

  /* line 845, ../sass/screen.scss */
  .col-md-1 {
    float: left;
    width: 8.33333%;
  }

  /* line 849, ../sass/screen.scss */
  .col-md-2 {
    float: left;
    width: 16.66667%;
  }

  /* line 853, ../sass/screen.scss */
  .col-md-3 {
    float: left;
    width: 25%;
  }

  /* line 857, ../sass/screen.scss */
  .col-md-4 {
    float: left;
    width: 33.33333%;
  }

  /* line 861, ../sass/screen.scss */
  .col-md-5 {
    float: left;
    width: 41.66667%;
  }

  /* line 865, ../sass/screen.scss */
  .col-md-6 {
    float: left;
    width: 50%;
  }

  /* line 869, ../sass/screen.scss */
  .col-md-7 {
    float: left;
    width: 58.33333%;
  }

  /* line 873, ../sass/screen.scss */
  .col-md-8 {
    float: left;
    width: 66.66667%;
  }

  /* line 877, ../sass/screen.scss */
  .col-md-9 {
    float: left;
    width: 75%;
  }

  /* line 881, ../sass/screen.scss */
  .col-md-10 {
    float: left;
    width: 83.33333%;
  }

  /* line 885, ../sass/screen.scss */
  .col-md-11 {
    float: left;
    width: 91.66667%;
  }

  /* line 889, ../sass/screen.scss */
  .col-md-12 {
    float: left;
    width: 100%;
  }

  /* line 893, ../sass/screen.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 896, ../sass/screen.scss */
  .col-md-pull-1 {
    right: 8.33333%;
  }

  /* line 899, ../sass/screen.scss */
  .col-md-pull-2 {
    right: 16.66667%;
  }

  /* line 902, ../sass/screen.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 905, ../sass/screen.scss */
  .col-md-pull-4 {
    right: 33.33333%;
  }

  /* line 908, ../sass/screen.scss */
  .col-md-pull-5 {
    right: 41.66667%;
  }

  /* line 911, ../sass/screen.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 914, ../sass/screen.scss */
  .col-md-pull-7 {
    right: 58.33333%;
  }

  /* line 917, ../sass/screen.scss */
  .col-md-pull-8 {
    right: 66.66667%;
  }

  /* line 920, ../sass/screen.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 923, ../sass/screen.scss */
  .col-md-pull-10 {
    right: 83.33333%;
  }

  /* line 926, ../sass/screen.scss */
  .col-md-pull-11 {
    right: 91.66667%;
  }

  /* line 929, ../sass/screen.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 932, ../sass/screen.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 935, ../sass/screen.scss */
  .col-md-push-1 {
    left: 8.33333%;
  }

  /* line 938, ../sass/screen.scss */
  .col-md-push-2 {
    left: 16.66667%;
  }

  /* line 941, ../sass/screen.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 944, ../sass/screen.scss */
  .col-md-push-4 {
    left: 33.33333%;
  }

  /* line 947, ../sass/screen.scss */
  .col-md-push-5 {
    left: 41.66667%;
  }

  /* line 950, ../sass/screen.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 953, ../sass/screen.scss */
  .col-md-push-7 {
    left: 58.33333%;
  }

  /* line 956, ../sass/screen.scss */
  .col-md-push-8 {
    left: 66.66667%;
  }

  /* line 959, ../sass/screen.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 962, ../sass/screen.scss */
  .col-md-push-10 {
    left: 83.33333%;
  }

  /* line 965, ../sass/screen.scss */
  .col-md-push-11 {
    left: 91.66667%;
  }

  /* line 968, ../sass/screen.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 971, ../sass/screen.scss */
  .col-md-offset-0 {
    margin-left: 0;
  }

  /* line 974, ../sass/screen.scss */
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 977, ../sass/screen.scss */
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 980, ../sass/screen.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 983, ../sass/screen.scss */
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 986, ../sass/screen.scss */
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 989, ../sass/screen.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 992, ../sass/screen.scss */
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 995, ../sass/screen.scss */
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 998, ../sass/screen.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 1001, ../sass/screen.scss */
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 1004, ../sass/screen.scss */
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 1007, ../sass/screen.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 1012, ../sass/screen.scss */
  .container {
    width: 1170px;
  }

  /* line 1015, ../sass/screen.scss */
  .col-lg-1 {
    float: left;
    width: 8.33333%;
  }

  /* line 1019, ../sass/screen.scss */
  .col-lg-2 {
    float: left;
    width: 16.66667%;
  }

  /* line 1023, ../sass/screen.scss */
  .col-lg-3 {
    float: left;
    width: 25%;
  }

  /* line 1027, ../sass/screen.scss */
  .col-lg-4 {
    float: left;
    width: 33.33333%;
  }

  /* line 1031, ../sass/screen.scss */
  .col-lg-5 {
    float: left;
    width: 41.66667%;
  }

  /* line 1035, ../sass/screen.scss */
  .col-lg-6 {
    float: left;
    width: 50%;
  }

  /* line 1039, ../sass/screen.scss */
  .col-lg-7 {
    float: left;
    width: 58.33333%;
  }

  /* line 1043, ../sass/screen.scss */
  .col-lg-8 {
    float: left;
    width: 66.66667%;
  }

  /* line 1047, ../sass/screen.scss */
  .col-lg-9 {
    float: left;
    width: 75%;
  }

  /* line 1051, ../sass/screen.scss */
  .col-lg-10 {
    float: left;
    width: 83.33333%;
  }

  /* line 1055, ../sass/screen.scss */
  .col-lg-11 {
    float: left;
    width: 91.66667%;
  }

  /* line 1059, ../sass/screen.scss */
  .col-lg-12 {
    float: left;
    width: 100%;
  }

  /* line 1063, ../sass/screen.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 1066, ../sass/screen.scss */
  .col-lg-pull-1 {
    right: 8.33333%;
  }

  /* line 1069, ../sass/screen.scss */
  .col-lg-pull-2 {
    right: 16.66667%;
  }

  /* line 1072, ../sass/screen.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 1075, ../sass/screen.scss */
  .col-lg-pull-4 {
    right: 33.33333%;
  }

  /* line 1078, ../sass/screen.scss */
  .col-lg-pull-5 {
    right: 41.66667%;
  }

  /* line 1081, ../sass/screen.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 1084, ../sass/screen.scss */
  .col-lg-pull-7 {
    right: 58.33333%;
  }

  /* line 1087, ../sass/screen.scss */
  .col-lg-pull-8 {
    right: 66.66667%;
  }

  /* line 1090, ../sass/screen.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 1093, ../sass/screen.scss */
  .col-lg-pull-10 {
    right: 83.33333%;
  }

  /* line 1096, ../sass/screen.scss */
  .col-lg-pull-11 {
    right: 91.66667%;
  }

  /* line 1099, ../sass/screen.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 1102, ../sass/screen.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 1105, ../sass/screen.scss */
  .col-lg-push-1 {
    left: 8.33333%;
  }

  /* line 1108, ../sass/screen.scss */
  .col-lg-push-2 {
    left: 16.66667%;
  }

  /* line 1111, ../sass/screen.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 1114, ../sass/screen.scss */
  .col-lg-push-4 {
    left: 33.33333%;
  }

  /* line 1117, ../sass/screen.scss */
  .col-lg-push-5 {
    left: 41.66667%;
  }

  /* line 1120, ../sass/screen.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 1123, ../sass/screen.scss */
  .col-lg-push-7 {
    left: 58.33333%;
  }

  /* line 1126, ../sass/screen.scss */
  .col-lg-push-8 {
    left: 66.66667%;
  }

  /* line 1129, ../sass/screen.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 1132, ../sass/screen.scss */
  .col-lg-push-10 {
    left: 83.33333%;
  }

  /* line 1135, ../sass/screen.scss */
  .col-lg-push-11 {
    left: 91.66667%;
  }

  /* line 1138, ../sass/screen.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 1141, ../sass/screen.scss */
  .col-lg-offset-0 {
    margin-left: 0;
  }

  /* line 1144, ../sass/screen.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 1147, ../sass/screen.scss */
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 1150, ../sass/screen.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 1153, ../sass/screen.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 1156, ../sass/screen.scss */
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 1159, ../sass/screen.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 1162, ../sass/screen.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 1165, ../sass/screen.scss */
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 1168, ../sass/screen.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 1171, ../sass/screen.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 1174, ../sass/screen.scss */
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 1177, ../sass/screen.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
/* line 1181, ../sass/screen.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 1186, ../sass/screen.scss */
.container-fluid:before {
  content: " ";
  display: table;
}
/* line 1190, ../sass/screen.scss */
.container-fluid:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 1196, ../sass/screen.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 1199, ../sass/screen.scss */
.row:before {
  content: " ";
  display: table;
}
/* line 1203, ../sass/screen.scss */
.row:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 1209, ../sass/screen.scss */
.col-xs-1 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 8.33333%;
}

/* line 1217, ../sass/screen.scss */
.col-sm-1 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1223, ../sass/screen.scss */
.col-md-1 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1229, ../sass/screen.scss */
.col-lg-1 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1235, ../sass/screen.scss */
.col-xs-2 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 16.66667%;
}

/* line 1243, ../sass/screen.scss */
.col-sm-2 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1249, ../sass/screen.scss */
.col-md-2 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1255, ../sass/screen.scss */
.col-lg-2 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1261, ../sass/screen.scss */
.col-xs-3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 25%;
}

/* line 1269, ../sass/screen.scss */
.col-sm-3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1275, ../sass/screen.scss */
.col-md-3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1281, ../sass/screen.scss */
.col-lg-3 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1287, ../sass/screen.scss */
.col-xs-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 33.33333%;
}

/* line 1295, ../sass/screen.scss */
.col-sm-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1301, ../sass/screen.scss */
.col-md-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1307, ../sass/screen.scss */
.col-lg-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1313, ../sass/screen.scss */
.col-xs-5 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 41.66667%;
}

/* line 1321, ../sass/screen.scss */
.col-sm-5 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1327, ../sass/screen.scss */
.col-md-5 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1333, ../sass/screen.scss */
.col-lg-5 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1339, ../sass/screen.scss */
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 50%;
}

/* line 1347, ../sass/screen.scss */
.col-sm-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1353, ../sass/screen.scss */
.col-md-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1359, ../sass/screen.scss */
.col-lg-6 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1365, ../sass/screen.scss */
.col-xs-7 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 58.33333%;
}

/* line 1373, ../sass/screen.scss */
.col-sm-7 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1379, ../sass/screen.scss */
.col-md-7 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1385, ../sass/screen.scss */
.col-lg-7 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1391, ../sass/screen.scss */
.col-xs-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 66.66667%;
}

/* line 1399, ../sass/screen.scss */
.col-sm-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1405, ../sass/screen.scss */
.col-md-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1411, ../sass/screen.scss */
.col-lg-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1417, ../sass/screen.scss */
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 75%;
}

/* line 1425, ../sass/screen.scss */
.col-sm-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1431, ../sass/screen.scss */
.col-md-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1437, ../sass/screen.scss */
.col-lg-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1443, ../sass/screen.scss */
.col-xs-10 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 83.33333%;
}

/* line 1451, ../sass/screen.scss */
.col-sm-10 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1457, ../sass/screen.scss */
.col-md-10 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1463, ../sass/screen.scss */
.col-lg-10 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1469, ../sass/screen.scss */
.col-xs-11 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 91.66667%;
}

/* line 1477, ../sass/screen.scss */
.col-sm-11 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1483, ../sass/screen.scss */
.col-md-11 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1489, ../sass/screen.scss */
.col-lg-11 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1495, ../sass/screen.scss */
.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 100%;
}

/* line 1503, ../sass/screen.scss */
.col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1509, ../sass/screen.scss */
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1515, ../sass/screen.scss */
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1521, ../sass/screen.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 1524, ../sass/screen.scss */
.col-xs-pull-1 {
  right: 8.33333%;
}

/* line 1527, ../sass/screen.scss */
.col-xs-pull-2 {
  right: 16.66667%;
}

/* line 1530, ../sass/screen.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 1533, ../sass/screen.scss */
.col-xs-pull-4 {
  right: 33.33333%;
}

/* line 1536, ../sass/screen.scss */
.col-xs-pull-5 {
  right: 41.66667%;
}

/* line 1539, ../sass/screen.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 1542, ../sass/screen.scss */
.col-xs-pull-7 {
  right: 58.33333%;
}

/* line 1545, ../sass/screen.scss */
.col-xs-pull-8 {
  right: 66.66667%;
}

/* line 1548, ../sass/screen.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 1551, ../sass/screen.scss */
.col-xs-pull-10 {
  right: 83.33333%;
}

/* line 1554, ../sass/screen.scss */
.col-xs-pull-11 {
  right: 91.66667%;
}

/* line 1557, ../sass/screen.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 1560, ../sass/screen.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 1563, ../sass/screen.scss */
.col-xs-push-1 {
  left: 8.33333%;
}

/* line 1566, ../sass/screen.scss */
.col-xs-push-2 {
  left: 16.66667%;
}

/* line 1569, ../sass/screen.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 1572, ../sass/screen.scss */
.col-xs-push-4 {
  left: 33.33333%;
}

/* line 1575, ../sass/screen.scss */
.col-xs-push-5 {
  left: 41.66667%;
}

/* line 1578, ../sass/screen.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 1581, ../sass/screen.scss */
.col-xs-push-7 {
  left: 58.33333%;
}

/* line 1584, ../sass/screen.scss */
.col-xs-push-8 {
  left: 66.66667%;
}

/* line 1587, ../sass/screen.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 1590, ../sass/screen.scss */
.col-xs-push-10 {
  left: 83.33333%;
}

/* line 1593, ../sass/screen.scss */
.col-xs-push-11 {
  left: 91.66667%;
}

/* line 1596, ../sass/screen.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 1599, ../sass/screen.scss */
.col-xs-offset-0 {
  margin-left: 0;
}

/* line 1602, ../sass/screen.scss */
.col-xs-offset-1 {
  margin-left: 8.33333%;
}

/* line 1605, ../sass/screen.scss */
.col-xs-offset-2 {
  margin-left: 16.66667%;
}

/* line 1608, ../sass/screen.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 1611, ../sass/screen.scss */
.col-xs-offset-4 {
  margin-left: 33.33333%;
}

/* line 1614, ../sass/screen.scss */
.col-xs-offset-5 {
  margin-left: 41.66667%;
}

/* line 1617, ../sass/screen.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 1620, ../sass/screen.scss */
.col-xs-offset-7 {
  margin-left: 58.33333%;
}

/* line 1623, ../sass/screen.scss */
.col-xs-offset-8 {
  margin-left: 66.66667%;
}

/* line 1626, ../sass/screen.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 1629, ../sass/screen.scss */
.col-xs-offset-10 {
  margin-left: 83.33333%;
}

/* line 1632, ../sass/screen.scss */
.col-xs-offset-11 {
  margin-left: 91.66667%;
}

/* line 1635, ../sass/screen.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

/* line 1638, ../sass/screen.scss */
.hamburger {
  padding: 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

/* line 1656, ../sass/screen.scss */
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

/* line 1662, ../sass/screen.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

/* line 1679, ../sass/screen.scss */
.hamburger-inner::before {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  content: "";
  display: block;
  top: -10px;
}

/* line 1696, ../sass/screen.scss */
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  content: "";
  display: block;
  bottom: -10px;
}

/* line 1714, ../sass/screen.scss */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 1720, ../sass/screen.scss */
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}
/* line 1724, ../sass/screen.scss */
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* line 1728, ../sass/screen.scss */
.hamburger--spin.is-active {
  z-index: 40;
}
/* line 1730, ../sass/screen.scss */
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 1738, ../sass/screen.scss */
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}
/* line 1744, ../sass/screen.scss */
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-moz-keyframes breath {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes breath {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes breath {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes sticky-header {
  0% {
    transform: translate(0, -56px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes sticky-header {
  0% {
    transform: translate(0, -56px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes sticky-header {
  0% {
    transform: translate(0, -56px);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* line 1850, ../sass/screen.scss */
.loading-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #ece6dd;
  z-index: 9999;
  transition: visibility 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 1861, ../sass/screen.scss */
.loading-screen .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -88px;
  background-image: url(../images/layout/logo.png);
  animation: breath 2s ease-out infinite normal;
}
/* line 1869, ../sass/screen.scss */
.loading-screen.off {
  visibility: hidden;
  opacity: 0;
}

/* line 1874, ../sass/screen.scss */
.sub-header {
  position: relative;
  height: 43px;
  line-height: 30px;
  border-top: 3px solid #bd754f;
  background-color: #f0ece9;
}
/* line 1880, ../sass/screen.scss */
.sub-header .social {
  position: relative;
  top: 8px;
  float: left;
}
/* line 1884, ../sass/screen.scss */
.sub-header .social li {
  display: inline-block;
  margin-left: 20px;
}
/* line 1887, ../sass/screen.scss */
.sub-header .social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 23px;
  text-align: center;
  background-color: #000;
  border-radius: 4px;
}
/* line 1896, ../sass/screen.scss */
.sub-header .social li a i {
  color: #fff;
}
/* line 1900, ../sass/screen.scss */
.sub-header .social li:first-child {
  margin-left: 0;
}
/* line 1905, ../sass/screen.scss */
.sub-header .numbers {
  position: relative;
  top: 6px;
  float: right;
}
/* line 1909, ../sass/screen.scss */
.sub-header .numbers li {
  display: inline;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 600;
  color: #000000;
}
/* line 1915, ../sass/screen.scss */
.sub-header .numbers li span {
  margin-right: 5px;
  font-size: 14px;
}
/* line 1919, ../sass/screen.scss */
.sub-header .numbers li:first-child {
  margin-left: 0;
}
/* line 1924, ../sass/screen.scss */
.sub-header.sticky {
  margin-bottom: 56px;
}

/* line 1928, ../sass/screen.scss */
.logo {
  display: inline-block;
  width: 156px;
  height: 61px;
  background-image: url(../images/layout/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}
/* line 1935, ../sass/screen.scss */
.logo.playa {
  width: 196px;
  background-image: url(../images/layout/logo-playa.png);
}
/* line 1939, ../sass/screen.scss */
.logo.medano {
  width: 235px;
  background-image: url(../images/layout/logo-medano.png);
}
/* line 1943, ../sass/screen.scss */
.logo.bosque {
  width: 229px;
  background-image: url(../images/layout/logo-bosque.png);
}

/* line 1948, ../sass/screen.scss */
.intro {
  padding: 0;
  position: relative;
}
/* line 1951, ../sass/screen.scss */
.intro .container {
  position: relative;
}
/* line 1954, ../sass/screen.scss */
.intro .slider {
  position: absolute;
  overflow-y: hidden;
  height: 750px;
  width: 100%;
}
/* line 1959, ../sass/screen.scss */
.intro .slider img {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 1965, ../sass/screen.scss */
.intro header {
  position: relative;
  height: 86px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  background-color: #fff;
  transition: background-color 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 1972, ../sass/screen.scss */
.intro header .container {
  height: 86px;
}
/* line 1974, ../sass/screen.scss */
.intro header .container .hamburger {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -28px;
}
/* line 1982, ../sass/screen.scss */
.intro header .container .logo {
  position: absolute;
  top: 12px;
}
/* line 1986, ../sass/screen.scss */
.intro header .container nav {
  position: absolute;
  bottom: 10px;
  right: 15px;
  display: inline-block;
}
/* line 1991, ../sass/screen.scss */
.intro header .container nav ul li {
  display: inline;
  margin-left: 20px;
}
/* line 1994, ../sass/screen.scss */
.intro header .container nav ul li a {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 600;
  transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 2002, ../sass/screen.scss */
.intro header .container nav ul li a:hover {
  color: #bd754f;
}
/* line 2006, ../sass/screen.scss */
.intro header .container nav ul li:first-child {
  margin-left: 0;
}
/* line 2009, ../sass/screen.scss */
.intro header .container nav ul li.active a {
  color: #bd754f;
}
/* line 2011, ../sass/screen.scss */
.intro header .container nav ul li.active a:before {
  visibility: visible;
  background-color: #bd754f;
  transform: scaleX(1);
}
/* line 2021, ../sass/screen.scss */
.intro header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1400;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: sticky-header 1s cubic-bezier(0.25, 0.8, 0.25, 1) normal;
}
/* line 2032, ../sass/screen.scss */
.intro .intro-links {
  position: absolute;
  top: 100px;
}
/* line 2035, ../sass/screen.scss */
.intro .intro-links span {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 5px #000000;
}
/* line 2044, ../sass/screen.scss */
.intro .intro-links ul li {
  display: inline-block;
  margin-left: 20px;
}
/* line 2047, ../sass/screen.scss */
.intro .intro-links ul li a {
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 2057, ../sass/screen.scss */
.intro .intro-links ul li a:hover {
  color: #000000;
  background-color: rgba(204, 102, 0, 0.8);
}
/* line 2062, ../sass/screen.scss */
.intro .intro-links ul li:first-child {
  margin-left: 0;
}

@media (max-width: 991px) {
  /* line 2069, ../sass/screen.scss */
  header .logo {
    background-image: url(../images/layout/logoW.png);
  }

  /* line 2072, ../sass/screen.scss */
  .intro header {
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* line 2075, ../sass/screen.scss */
  .intro header .container .hamburger {
    visibility: visible;
    opacity: 1;
    z-index: 120;
  }
  /* line 2080, ../sass/screen.scss */
  .intro header .container nav {
    display: table;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000000;
  }
  /* line 2093, ../sass/screen.scss */
  .intro header .container nav ul {
    display: table-cell;
    vertical-align: middle;
  }
  /* line 2096, ../sass/screen.scss */
  .intro header .container nav ul li {
    display: block;
    margin-left: 0;
  }
  /* line 2099, ../sass/screen.scss */
  .intro header .container nav ul li a {
    color: #fff;
    font-size: 35px;
  }
  /* line 2103, ../sass/screen.scss */
  .intro header .container nav ul li.common {
    margin-top: 20px;
    margin-left: 0;
  }
  /* line 2109, ../sass/screen.scss */
  .intro header .container nav.active {
    visibility: visible;
    opacity: 1;
    z-index: 110;
  }

  /* line 2117, ../sass/screen.scss */
  footer ul {
    float: right;
    text-align: right;
  }
  /* line 2120, ../sass/screen.scss */
  footer ul li {
    display: block;
    margin-top: 10px;
    margin-left: 0;
  }
  /* line 2124, ../sass/screen.scss */
  footer ul li:first-child {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  /* line 2131, ../sass/screen.scss */
  section {
    padding: 20px 0;
  }

  /* line 2134, ../sass/screen.scss */
  .sub-header {
    display: none;
  }

  /* line 2138, ../sass/screen.scss */
  .intro .slider {
    display: none;
  }
  /* line 2141, ../sass/screen.scss */
  .intro .intro-links {
    display: none;
  }

  /* line 2145, ../sass/screen.scss */
  .banners {
    margin-top: 30px;
    text-align: center;
  }
  /* line 2148, ../sass/screen.scss */
  .banners .item {
    margin-top: 40px;
  }

  /* line 2152, ../sass/screen.scss */
  footer {
    text-align: center;
  }
  /* line 2154, ../sass/screen.scss */
  footer ul {
    margin-top: 40px;
    float: none;
    text-align: center;
  }

  /* line 2160, ../sass/screen.scss */
  .info {
    margin-top: 70px;
  }

  /* line 2164, ../sass/screen.scss */
  .gallery ul li {
    float: none;
    width: 100%;
    padding: 5px;
  }
  /* line 2169, ../sass/screen.scss */
  .gallery .my-gallery figure {
    display: none;
    padding: 0;
  }
  /* line 2172, ../sass/screen.scss */
  .gallery .my-gallery figure.mobile-thumb {
    display: block;
    width: 100%;
  }
  /* line 2175, ../sass/screen.scss */
  .gallery .my-gallery figure.mobile-thumb .mobile-label {
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -20px;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #bd754f;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* line 2189, ../sass/screen.scss */
  .gallery .my-gallery figure.mobile-thumb .mobile-label:hover {
    cursor: pointer;
  }

  /* line 2196, ../sass/screen.scss */
  .contact form textarea {
    margin-top: 20px;
  }
}
/* line 2200, ../sass/screen.scss */
.welcome {
  position: relative;
  background-image: url(../images/layout/pinos.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 2207, ../sass/screen.scss */
.welcome p {
  color: #fff;
  margin-top: 20px;
  font-size: 18px;
  line-height: 34px;
}
/* line 2213, ../sass/screen.scss */
.welcome .container {
  position: relative;
}
/* line 2215, ../sass/screen.scss */
.welcome .container .owl-welcome-arrows {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 100%;
}
/* line 2220, ../sass/screen.scss */
.welcome .container .owl-welcome-arrows span {
  font-size: 100px;
  color: #333333;
  transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 2225, ../sass/screen.scss */
.welcome .container .owl-welcome-arrows span.icon-site-arrow-left {
  position: relative;
  left: -50px;
  float: left;
}
/* line 2230, ../sass/screen.scss */
.welcome .container .owl-welcome-arrows span.icon-site-arrow-right {
  position: relative;
  right: -50px;
  float: right;
}
/* line 2235, ../sass/screen.scss */
.welcome .container .owl-welcome-arrows span:hover {
  cursor: pointer;
  color: #bd754f;
}
/* line 2242, ../sass/screen.scss */
.welcome h3 {
  font-size: 28px;
  color: #bd754f;
}
/* line 2246, ../sass/screen.scss */
.welcome .owl-welcome-pagination ul {
  display: block;
  margin-top: 20px;
  text-align: center;
}
/* line 2250, ../sass/screen.scss */
.welcome .owl-welcome-pagination ul li {
  display: inline-block;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  background-color: #333333;
  border-radius: 50%;
}
/* line 2258, ../sass/screen.scss */
.welcome .owl-welcome-pagination ul li:hover {
  cursor: pointer;
}
/* line 2261, ../sass/screen.scss */
.welcome .owl-welcome-pagination ul li.active {
  background-color: #bd754f;
}
/* line 2264, ../sass/screen.scss */
.welcome .owl-welcome-pagination ul li:first-child {
  margin-left: 0;
}

/* line 2270, ../sass/screen.scss */
.welcome::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

@media (max-width: 1024px) {
  /* line 2283, ../sass/screen.scss */
  .welcome .container .owl-welcome-arrows {
    display: none;
  }

  /* line 2286, ../sass/screen.scss */
  footer ul li {
    margin-left: 10px;
  }
  /* line 2288, ../sass/screen.scss */
  footer ul li a {
    font-size: 12px;
  }
}
/* line 2293, ../sass/screen.scss */
.services {
  text-align: center;
}
/* line 2295, ../sass/screen.scss */
.services h2 {
  margin-bottom: 40px;
  font-size: 30px;
  color: #bd754f;
  text-transform: uppercase;
  text-align: center;
}
/* line 2302, ../sass/screen.scss */
.services ul {
  text-align: left;
  column-count: 2;
  column-gap: 50px;
  column-fill: auto;
}
/* line 2309, ../sass/screen.scss */
.services ul li {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
  font-size: 20px;
}
/* line 2314, ../sass/screen.scss */
.services ul li i {
  margin-right: 10px;
  color: #bd754f;
}
/* line 2318, ../sass/screen.scss */
.services ul li span {
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #bd754f;
}

/* line 2329, ../sass/screen.scss */
.contact h2 {
  margin-bottom: 40px;
  font-size: 30px;
  color: #bd754f;
  text-transform: uppercase;
  text-align: center;
}
/* line 2337, ../sass/screen.scss */
.contact form input {
  padding: 15px;
  width: 100%;
  border: 2px solid #bd754f;
  background-color: #f1f1f1;
  border-radius: 8px;
  transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-top: 20px;
  height: 45px;
}
/* line 2348, ../sass/screen.scss */
.contact form input:hover {
  outline: 0;
}
/* line 2351, ../sass/screen.scss */
.contact form input:focus {
  outline: 0;
  background-color: #fff;
}
/* line 2355, ../sass/screen.scss */
.contact form input:first-child {
  margin-top: 0;
}
/* line 2359, ../sass/screen.scss */
.contact form textarea {
  padding: 15px;
  width: 100%;
  border: 2px solid #bd754f;
  background-color: #f1f1f1;
  border-radius: 8px;
  transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 175px;
}
/* line 2369, ../sass/screen.scss */
.contact form textarea:hover {
  outline: 0;
}
/* line 2372, ../sass/screen.scss */
.contact form textarea:focus {
  outline: 0;
  background-color: #fff;
}
/* line 2377, ../sass/screen.scss */
.contact form .col-sm-12 {
  text-align: center;
}
/* line 2379, ../sass/screen.scss */
.contact form .col-sm-12 .send {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000000;
  border-radius: 8px;
  transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 2391, ../sass/screen.scss */
.contact form .col-sm-12 .send:hover {
  color: #000000;
  background-color: #bd754f;
}

@media (max-width: 667px) {
  /* line 2400, ../sass/screen.scss */
  .services ul {
    column-count: 1;
  }

  /* line 2404, ../sass/screen.scss */
  .info ul {
    column-count: 1;
  }
}
/* line 2409, ../sass/screen.scss */
.gallery {
  background-color: #f1f1f1;
}
/* line 2411, ../sass/screen.scss */
.gallery h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #bd754f;
  text-transform: uppercase;
  text-align: center;
}
/* line 2418, ../sass/screen.scss */
.gallery ul {
  margin-top: 40px;
}
/* line 2420, ../sass/screen.scss */
.gallery ul:before {
  content: " ";
  display: table;
}
/* line 2424, ../sass/screen.scss */
.gallery ul:after {
  content: " ";
  display: table;
  clear: both;
}
/* line 2429, ../sass/screen.scss */
.gallery ul li {
  position: relative;
  display: block;
  float: left;
  padding: 20px;
  width: 33.3%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #000000;
  transition: color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 2442, ../sass/screen.scss */
.gallery ul li:before {
  content: '';
  position: absolute;
  visibility: hidden;
  display: block;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  background-color: #bd754f;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), visibility 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
/* line 2457, ../sass/screen.scss */
.gallery ul li:hover {
  cursor: pointer;
  color: #bd754f;
}
/* line 2461, ../sass/screen.scss */
.gallery ul li.active:before {
  visibility: visible;
  transform: scaleX(1);
}

/* line 2470, ../sass/screen.scss */
.map h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #bd754f;
  text-transform: uppercase;
  text-align: center;
}
/* line 2477, ../sass/screen.scss */
.map #map {
  width: 100%;
  height: 600px;
}

/* line 2483, ../sass/screen.scss */
.info h2 {
  font-size: 30px;
  color: #bd754f;
  text-transform: uppercase;
  text-align: center;
}
/* line 2488, ../sass/screen.scss */
.info h2.sub {
  margin-top: 40px;
}
/* line 2492, ../sass/screen.scss */
.info h3 {
  margin: 30px 0 15px;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}
/* line 2498, ../sass/screen.scss */
.info p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
}
/* line 2503, ../sass/screen.scss */
.info ul {
  column-count: 2;
  column-gap: 20px;
  column-fill: auto;
}
/* line 2509, ../sass/screen.scss */
.info ul li {
  display: flex;
  align-items: baseline;
  font-size: 20px;
}
/* line 2513, ../sass/screen.scss */
.info ul li span {
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #bd754f;
}

/* line 2524, ../sass/screen.scss */
.my-gallery figure {
  margin-top: 40px;
}
/* line 2527, ../sass/screen.scss */
.my-gallery .mobile-label {
  display: none;
}

/* line 2531, ../sass/screen.scss */
#ficha {
  padding: 40px 0;
  background: #fff;
}
/* line 2534, ../sass/screen.scss */
#ficha p {
  margin-bottom: 10px;
}
/* line 2537, ../sass/screen.scss */
#ficha .ficha-carousel {
  margin-bottom: 20px;
}
/* line 2540, ../sass/screen.scss */
#ficha .ficha-carousel .owl-buttons .owl-prev {
  position: absolute;
  top: 0;
  border: 0;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  left: 0;
}
/* line 2550, ../sass/screen.scss */
#ficha .ficha-carousel .owl-buttons .owl-prev i {
  font-size: 40px;
  transition-duration: .5s;
  transition-property: color;
  transition-timing-function: ease;
}
/* line 2559, ../sass/screen.scss */
#ficha .ficha-carousel .owl-buttons .owl-prev:hover i {
  color: #fff;
}
/* line 2563, ../sass/screen.scss */
#ficha .ficha-carousel .owl-buttons .owl-next {
  position: absolute;
  top: 0;
  border: 0;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 0;
}
/* line 2573, ../sass/screen.scss */
#ficha .ficha-carousel .owl-buttons .owl-next i {
  font-size: 40px;
  transition-duration: .5s;
  transition-property: color;
  transition-timing-function: ease;
}
/* line 2582, ../sass/screen.scss */
#ficha .ficha-carousel .owl-buttons .owl-next:hover i {
  color: #fff;
}
/* line 2588, ../sass/screen.scss */
#ficha .main-list {
  margin: 0 0 20px 0;
  padding: 0;
  list-style-type: none;
  column-count: 2;
}
/* line 2594, ../sass/screen.scss */
#ficha .main-list li {
  display: flex;
  align-items: baseline;
  padding: 0 0 10px 0;
  font-size: 14px;
  line-height: 20px;
}
/* line 2600, ../sass/screen.scss */
#ficha .main-list li i {
  margin-right: 5px;
  color: #bd754f;
}
/* line 2606, ../sass/screen.scss */
#ficha .ficha-destacado {
  margin: 20px 0;
}
/* line 2608, ../sass/screen.scss */
#ficha .ficha-destacado ul {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  column-count: 1;
  background-color: #f1f1f1;
}
/* line 2615, ../sass/screen.scss */
#ficha .ficha-destacado ul li {
  color: #111;
  font-size: 14px;
}
/* line 2618, ../sass/screen.scss */
#ficha .ficha-destacado ul li i {
  margin-right: 5px;
  color: #e6606b;
}
/* line 2623, ../sass/screen.scss */
#ficha .ficha-destacado ul.lista-destacada {
  background-color: #111;
}
/* line 2625, ../sass/screen.scss */
#ficha .ficha-destacado ul.lista-destacada li {
  display: flex;
  align-items: center;
  color: #fff;
}

/* line 2634, ../sass/screen.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 2637, ../sass/screen.scss */
.banners .item {
  position: relative;
}
/* line 2639, ../sass/screen.scss */
.banners .item h2 {
  position: absolute;
  top: 0;
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 100%;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 2651, ../sass/screen.scss */
.banners .item p {
  margin-top: 20px;
  font-size: 16px;
  color: #020202;
}

/* line 2657, ../sass/screen.scss */
.ficha h2 {
  margin-bottom: 40px;
  font-size: 30px;
  color: #bd754f;
  text-transform: uppercase;
  text-align: center;
}

/* line 2665, ../sass/screen.scss */
#caja-DATAFISCAL {
  display: inline-block;
  margin-top: 20px;
}
